body{

}
body > div{
	outline:1px dashed black;
}
body > div > div{
	outline:1px dashed red;
}
body > div > div > div{
	outline:1px dashed orange;
}
body > div > div > div > div{
	outline:1px dashed magenta;
}
body > div > div > div > div > div {
	outline:1px dashed cyan;
}