body{

}
/*body > div{
	outline:1px dashed black;
}
body > div > div{
	outline:1px dashed red;
}
body > div > div > div{
	outline:1px dashed orange;
}
body > div > div > div > div{
	outline:1px dashed magenta;
}
body > div > div > div > div > div {
	outline:1px dashed cyan;
}*/

div.container-head{
	min-height: 90px;
	background-image: url('./image/header_bg.png');
}
div.container-menu{
	min-height: 50px;
	background-image: url('./image/bg_prod_title.png');
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
div.container-slideshow{
	min-height: 350px;
	background-image: url('./image/fabric.png');
}
div.container-content{
	min-height: 0px;
}
div.container-footer{
	min-height: 190px;
	background-image: url('./image/fabric.png');
}
div.container-centerside{
	min-height: 60px;
	background: url('./image/header_bg.png') bottom left repeat-x;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
div.container-bg{
	min-height: 30px;
	background-image: url('./image/bg_prod_title.png');
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
div[class|='container'] > div{
	width: 980px;
	margin: 0 auto;
	min-height: inherit;
	padding-top: 1px;
}
div.menu ul{
	list-style-type: none;
	width: 500px;
	height: 40px;
	margin-top: 0px;
	margin-left: 30px;
}
div.menu ul li{
	float: left;
	margin-top: 12px;
	margin-left: 4px;
}
div.menu a{
	display: block;
	text-decoration: none;
	color: black;
	padding: 7px 14px;
	background-color: #ddd;
	border-radius: 7px;
	text-shadow: 1px 1px #eee;
	font-size: 13px;
	line-height: 15px;
	font-family: 'Trebuchet MS', Trebuchet, Helvetica, Arial, sans-serif;
}
div.menu a:hover{
	background-color: #333;
	color: white;
	text-shadow: 1px 1px #333;
}
div.menu a.active{
	background-color: #333;
	color: white;
	text-shadow: 1px 1px #333;
}
div.slideshow{
	position:relative;
	background-color: black;
	overflow: hidden;
}
div.slideshow div.slidebar{
	width: 950px;
	margin: 0 auto;
	height: 350px;
}
div.slidebar div{
	outline: none;
	width: 118.75px;
	height: 87.5px;
	float: left;
}
div.slideshow div.selector{
	width: 950px;
	height: 13px;
	position:absolute;
	top: 330px;
	left: 15px;
}
div.selector ul{
	list-style-type: none;
	width: 75px;
	height: inherit;
	margin: 0 auto;
}
div.selector ul li{
	width: 13px;
	height: 13px;
	background-color: #333;
	float: left;
	margin-right: 5px;
	border-radius: 10px;
	cursor: pointer;
}
div.selector ul li:hover{
	background-color:#999;
}
div.selector ul li.active{
	background-color: #999;
}
div.previous,div.next{
	width: 15px;
	height: 50px;
	position:absolute;
	top: -40px;
	left: 0;
	background-image:url('./image/arrows.png');
	cursor: pointer;
}
div.next{
	left: 965px;
	background-position: -39px 0px;
}
div.previous{
	background-position:  -6px 0px;
}

div.centerside p{
	margin: 0 auto;
	margin-top: 20px;
	font-size: 1.25em;
	font-weight: normal;
	line-height: 1.2;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

div.bg a{
	display: block;
	width:50px;
	margin: 0 auto;
}